@import url('https://fonts.google.com/share?selection.family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700');

#cabecalho {
    color: rgb(8, 8, 8);
    background-color: #D7D9D9;
    padding-left: 250px;

}
body {
    margin: 0;
    background-color: #730202;
    color: white;
     
}
main {
    font-family: "Titillium", sans-serif;
}
#post {
    margin: auto;
    width: 80%;
    border-style: dotted;
    border-width: 2px;

}