@import url('https://fonts.google.com/share?selection.family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Berkshire+Swash&family=Nanum+Gothic+Coding&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --color-background: #171718;
    --color-title: #9fa3a9;
    --color-description: #6a6e73;
    --color-hover: #393d42;
    --color-nav: #ffffff;
}

#cabecalho {
    color: rgb(8, 8, 8);
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    /* padding-left: 250px; */
    /* border: 5px solid #000 ; */
}

#imagem-principal {
    width: 100%; 
    max-height: 50vh;
    height: auto; 
    object-fit: cover;
}

/* nav {
    margin: auto;
    width: 25%;
} */

#blog-title {
    background-color: var(--color-background);
    position: absolute;
    width: 30%;
    height: fit-content;
    /* margin-top: 41vh; */
    padding: 5vh 0vh;
    bottom: 0vh;
    left: 20vh;
    /* top: 100%; */
}

#blog-title h1 {
    font-family: "Berkshire Swash";
    font-size: 5vh;
    color: var(--color-title);
    text-align: center;
    margin: 0;
    padding: 0;
}

#blog-title p{
    font-family: "Acme";
    font-size: 2vh;
    color: var(--color-title);
    text-align: center;
    margin: 0;
    padding: 0;
}

nav a:hover {
    text-decoration: underline;
}   

nav a:link, nav a:visited {
    font-size: 3vh;
    color: var(--color-background);
    text-decoration: none;
}  

/* a:link, a:visited, a:hover,a:active {
    color: darkslategray;
    text-decoration: none;
} */

nav{
    width: 100%;
    height: fit-content;
    /* border: 1px solid #000; */
    background-color: var(--color-nav);
    padding: 5px 10px 5px 30px;
}

/* nav li {
    display: inline-block;
    margin: 0 10px;
    flex-wrap: nowrap;
    color: var(--color-background);
} */

body {
    margin: 0;
    background-color:var(--color-background);
    color: var(--color-title);
}

main {
    /* border: 1px solid #000; */
    font-family: "Acme", sans-serif;
    margin-left: 10vw;
    width: 60%;
    padding: 0px 10px 10vw 10px;
    /* padding: 10px; */
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}



.post{
    /* border: 1px solid #000; */
    /* margin-bottom: 30px; */
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post img{
    width: 12em;
    height: 12em;
    /* max-height: fit-; */
    border-radius: 10%;
    object-fit: cover;
}

.post-info{
    /* border: 1px solid #002fff; */
    /* margin: 10px; */
    padding: 10px;
}

#post-resume{
    color: var(--color-description);
    font-family: "Acme", sans-serif;
}

/* Hovers */
.post:hover{
    background-color: var(--color-hover);
    /* color: #400101; */
    border-radius: 21px;
}

footer{
    /* border: 1px solid #000; */
    text-align: right;
    margin-right: 25px;  
}

@media (max-width: 500px) {
    .post {
        justify-content: center;
        flex-wrap: wrap;
    }

    .post img{
        width: 75%;
        height: auto;
        border-radius: 10%;
    }
    
}
#resumeHK {
    width: 300px;
}


.topico {
    display: flex;
    flex-direction: column;
}

.topico-resumo {
    display: flex;

}

.imagens-topicos-flex {
    display:flex;
    flex-direction: column;
    gap: 1rem;

}

.resumo{
    width: 50%;
    text-align: start;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}
.imagemResumo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    object-fit: scale-down;

}
#resumeWR {
    width: 300px;
    align-self: flex-start;

}

.titulos-topicos{
    font-family: "Acme", sans-serif;
    font-size: 30px;
    width: 100px;
    align-self: flex-start;
  
}
.imagens-topicos{
    height: 500px;
    margin: auto;
    display: block;
}
.paragrafos-topicos{
    font-size: 18px;


}

#knight{
    width: 80%;
    height: auto;
}

#imagemWR{
    width: 90%;
    height: auto;
}

#imagem-wr-resume{
    width: 100%;
    height: auto;
}