@import url('https://fonts.google.com/share?selection.family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700');

#cabecalho {
    color: white;
    background-color: #03A64A;

}
body {
    margin: 0;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,18,114,1) 39%, rgba(0,212,255,1) 82%);  
}
main {
    font-family: "Titillium", sans-serif;
}
#post {
    margin: auto;
    width: 80%;
    border-style: dotted;
    border-width: 2px;

}